*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV PAGE */
 
.head{
    display: flex;
    background-color: rgb(7, 7, 26);
    padding: 1px;
    border-bottom: solid;
    border-color: rgb(128, 123, 123);
    border-width: 1px;
    max-width: 100%;
   
    
   
}
.logo{
    border: solid;
    height: 25px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(31, 31, 72);
    border-style: none;
    border-radius: 5px;
    color: rgb(25, 67, 208);
    margin-top: 13px;
    margin-left: 7px;
}
.logo-name{
    margin-left: 5px;
    margin-top: 16px;
    font-size: 15px;
    color: rgb(213, 206, 206);
    font-family: sans-serif;
}
.icon{
    margin: 20px 2px;
    float: left;
    color:rgb(213, 206, 206);
  margin-left: 65rem;
 
 
}
.p-img{
    border: solid;
    padding: 15px;
    height: 20px;
    border-radius: 20px;
    background-color:rgb(213, 206, 206);
    float: right;
    margin-top: 10px;
    margin-left: 10px;
   
    

}
.info{
    color:rgb(213, 206, 206);
    font-family: sans-serif;
    margin-top: 10px;
   margin-left: 10px;
    font-size: 12px;
}


/* BODY PAGE / NAV-ROW */

    

.home-key{
    display: flex;
    padding: 20px 10px;
    background-color:rgb(7, 7, 26);
    border-bottom: solid;
    border-color:rgb(128, 123, 123);
    border-width: 1px;

}

.home-icon{
    border: solid;
    padding: 10px;
    width: 40px;
    color: rgb(71, 123, 219);
    border-radius: 10px;
    background-color: rgb(7, 7, 26);
    border-style: none;
}
.homekey-text{
    font-size: 15px;
    margin-left:5px;
    margin-top: 5px;
    color: rgb(213, 206, 206);
    font-family: sans-serif;
}
.homekey-text .verified{
    color: blue;
}

/* ICON LIST */
.bg{
    background-color:    rgb(7, 7, 26);
    color: rgb(213, 206, 206);
   padding: 20px 10px 62rem 20px;
   max-width: 100%;
   height: 95%;

}



.dashbord-not1{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
   
}
.dashbord-not1:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.dashbord-not2{
    padding: 10px;
    display: flex;
    border: solid;
  border-style: none;
    border-radius: 10px;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
}
.dashbord-not2:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.dashbord-not3{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;

}
.dashbord-not3:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.dashbord-not4{
    display: flex;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
    
}
.dashbord-not4:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}

.dashbord-not4 a{
    text-decoration: none;
    color:rgb(213, 206, 206);
}
.dashbord-not5{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
}
.dashbord-not5:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}

.dashbord-not6{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
}
.dashbord-not6:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.dashbord-not7{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
}
.dashbord-not7:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.dashbord-not8{
    padding: 10px;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 20px;
}
.dashbord-not8:hover{
    background-color: rgb(59, 89, 177);
    border-radius: 10px;
    padding: 10px;

}
.txt{
    padding-left: 5px;
}


/* DASH BOARD PAGE */
.big-container{
    display: flex;
    
}


.dashboard-page{
    background-color: rgb(20, 26, 39);
    padding: 20px;
    color: rgb(213, 206, 206);
   

}
.pages-con{
    display: flex;
    
   
}


/* VISITORS ANALYSTIC PAGE */

.vis-analys{
    background-color:   rgb(7, 7, 26);
  border: solid;
    border-radius: 10px;
    padding: 0 60px;
    margin-top: 15px;
    border-style: none;
}

.vis-analys1{
    display: flex;
}


.vis-txt{
    margin-top: 40px;
    font-size: 18px;

}
.drop-list{
    margin-top: 25px;
    margin-left: 305px;
}



#Days-of-week{
    padding: 5px 15px;
   background-color: rgb(2, 2, 41);
   border-color: rgb(70, 112, 228);
   color: rgb(70, 112, 228);
   border-radius: 10px;
   

}

/*==============Chart Analysis==================== */
.firstlinecon{
    display: flex;
    margin-top: 20px;
    
}
.chart-no1{
    margin-right: 5px;
    margin-top: 15px;
  
    
}
.line-no1{
    height: 1px;
    width: 33rem;
    background-color: rgb(63, 62, 62);
    margin-top: 25px;
    margin-left: 20px;
    position: relative;
   
}


/* =================CHART PAGE====================== */
.chartcon{
 display: flex;
    position: absolute;
    gap: 70px;
    margin-left: 80px;
}

.chart1{
    height: 50px;
    width: 15px;
    background-color: rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
   margin-top: 45px;
}
.chart2{
    height: 50px;
    width: 15px;
    background-color: rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
    margin-top: 5px;
}

.chart3{
    height: 60px;
    width: 15px;
    background-color: rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
    margin-top: 15px;
}
.chart4{
    height: 30px;
    width: 15px;
    background-color: rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
   margin-top: 50px;
}
.chart5{
    height: 70px;
    width: 15px;
    background-color:rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
    margin-top: 15px;
}
.chart6{
    height: 100px;
    width: 15px;
    background-color: rgba(138, 96, 3, 0.788);
    border-radius: 10px 10px;
    margin-top: 1px;
}
/* <!-- ============SECOND LINE CHART======================= --> */

.chartcon2{
    display: flex;
    position: absolute;
    gap: 70px;
    margin-left: 80px;
}

.secchart1{
    height: 50px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 100px;
}
.secchart2{
    height: 95px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 60px;
}
.secchart3{
    height: 85px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 80px;
}
.secchart4{
    height: 62px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 90px;
}
.secchart5{
    height: 80px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 90px;
}
.secchart6{
    height: 60px;
    width: 15px;
    background-color: rgb(204, 137, 22);
    border-radius: 10px 10px;
   margin-top: 108px;
}




/* last chart */
.chartcon3{
    display: flex;
    position: absolute;
    gap: 70px;
    margin-left: 80px;
}
.tsecchart1{
    height: 50px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 160px;
}
.tsecchart2{
    height: 50px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 160px;
}
.tsecchart3{
    height: 30px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 170px;
}
.tsecchart4{
    height: 50px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 160px;
}
.tsecchart5{
    height: 25px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 175px;
}
.tsecchart6{
    height: 30px;
    width: 15px;
    background-color: rgb(197, 156, 87);
    border-radius: 10px 10px;
   margin-top: 170px;
}



.chartno3{
    display: flex;
    position: absolute;
    gap: 60px;
    margin-left: 80px;
}
.no1 h2{
    margin-top: 230px;
}

























/* TABLE PAGE */
.table-page{
    width: 100%;
  font-size: 22px;
  margin-top: 10px;
  color: rgb(213, 206, 206);
}
.table-head{
    padding: 10px;
}
.table-data{
    padding: 10px;
    
}
.table-hName{
    padding: 10px;}

.data-num{
   padding:5px 3px 1px 30px;
   

}



/* top post last container */
.last-page{
    display: flex;
    
}




.last-section{
    border: solid;
    padding: 10px 30px 50px 1px;
    border-radius: 10px;
   margin-top: 15px;
   border-style: none;
    background-color:  rgb(7, 7, 26);
}
.top-heading{
    display: flex;
  

}



/* top-list-page */
.head1{
    margin-left: 50px;
    margin-top: 10px;
    font-family: sans-serif;
    color: rgb(213, 206, 206);
}

#Calender{
margin-left: 400px;
margin-top: 10px;
background-color: rgb(7, 7, 26) ;
padding: 5px 20px;
border-radius: 10px;
border: solid;
border-color: rgb(21, 92, 205);
color:  rgb(21, 92, 205);

}





.head-line{
    margin-top: 15px;
    border-color: rgb(86, 86, 84);
    margin-left: 40px;
}

/* next page */
.top-heading1{
   display: flex;
}


.head-line1{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 13px;
    font-family: sans-serif;
    color: rgb(199, 194, 194);
  
}
.date-line{
    font-size: 12px;
    margin-top: 7px;
    color: rgb(213, 206, 206);
}



/* LINE-CSS-PAGE */
.line-header2{
    margin-left: 490px;
   margin-top: 20px;
}
.line-header3{
    margin-left: 360px;
   margin-top: 20px;
}
.line-header4{
    margin-left: 385px;
   margin-top: 20px;
}
.line-header5{
    margin-left: 407px;
   margin-top: 20px;
}
.line-header6{
    margin-left: 380px;
   margin-top: 20px;
}
.line-header7{
    margin-left: 395px;
   margin-top: 20px;
}
.line-header8{
    margin-left: 370px;
   margin-top: 20px;
}
.line-header9{
    margin-left: 340px;
   margin-top: 20px;
}
.line-header10{
    margin-left: 330px;
   margin-top: 20px;
}
.line-header11{
    margin-left: 220px;
   margin-top: 20px;
}



